
@{
    ViewBag.Title = "RH";
    var conexao = "";
    
}

<environment names="Development">
    @{conexao = "http://localhost:8989/signalr";}
</environment>
<environment names="Staging,Production">
    @{conexao = "http://192.168.3.16:8989/signalr";}
</environment>

@section scripts {

<script>

    $.connection.hub.url = "@conexao";

    $(document).ready(function () {
            var tipoFerias = "Dia de Férias";
	        var eventos = [];


            $.get('/RH/ListaFuncionarios', function(result) {
                var funcionarios = result;

                $.each(funcionarios, function () {

                    funcionarioCalendario(this);

                });
            });

            var apiUrl = location.origin + "/RH/ListaMarcacaoFerias";

            $('#calendar').fullCalendar({
                right: 'month,agendaWeek,agendaDay',
                header: {
                    left: 'today prev,next',
                    center: 'title',
                    right: 'timelineDay,timelineTenDay,timelineMonth,timelineYear'
                },
                defaultView: 'month',
                views: {
                    timelineDay: {
                        buttonText: ':15 slots',
                        slotDuration: '00:15'
                    },
                    timelineTenDay: {
                        type: 'timeline',
                        duration: { days: 10 }
                    }
                },
                lang: 'pt',
                //defaultView: 'month',
                editable: false,
                events: eventos,
                resourceColumns: [
                    {
                        labelText: 'First Name',
                        field: 'fname'
                    },
                    {
                        labelText: 'Last Name',
                        field: 'lname'
                    }
                ],

                resources: [
                {
                    id: 'a',
                    fname: 'John',
                    lname: 'Smith'
                },
                {
                    id: 'b',
                    fname: 'Jerry',
                    lname: 'Garcia'
                }]
	        });


        });

        function funcionarioCalendario(id) {

            var apiUrl = location.origin + "/RH/ListaMarcacaoFerias";

            $.ajax({
                type: "POST",
                dataType: "json",

                url: apiUrl,
                data: { funcionarioId: id, ano: '@DateTime.Now.Year' },
                success: function (data) {

                    data.forEach(preencherCalendario);

                    function preencherCalendario(value, index, ar) {
                        var color = "#337ab7";
                        var attrClass = "";
                        var span = ""

                        switch (value.estado) {
                            case "Por Aprovar":
                                color = "#f0ad4e";

                                break;

                            case "Aprovado":
                                color = '#257e4a';
                                attrClass = "class='success'";
                                span = "<span class='btnAprovado glyphicon glyphicon-thumbs-up'  style='font-size: 15px; ' aria-hidden='true'></span>";

                                break;
                            case "Recusado":
                                color = "#d9534f";
                                attrClass = "class='danger'";
                                span = "<span class='btnAprovado glyphicon glyphicon-thumbs-down'  style='font-size: 15px; ' aria-hidden='true'></span>";

                                break;

                        }


                        var evento = {
                            //id: value.funcionarioId,
                            title: value.tipo,// 'Pedido Ferias',
                            start: value.dataFeria, //'2014-06-09T16:00:00'
                            end: value.dataFeria,
                            allDay: true,
                            color: color
                        }

                        $('#calendar').fullCalendar('renderEvent', evento, true);


                        var day = moment(value.dataFeria);

                        var d = new Date(value.dataFeria);

                        $("#tabelaMarcacaoFerias").append(
                            "<tr " + attrClass + ">" +
                                "<td class ='DataM'>" + day.format("DD/MM/YYYY") + "</td> " +
                                "<td>" + value.tipo + "</td> " +
                                "<td >" + value.estado + "</td> " +
                                "<td> " + span + " </td>" +
                            "</tr>"
                        );

                    }
                },
                error: function (error) {
                    var x = error; //break here for debugging.
                }
            });

        }


        function formatDate(value) {
            return value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getYear();
        }

        

</script>

<script>

    $(function () { // document ready
        var mes = $("#cbMes").select(12);
        $('#menu_rh_ul').attr('class', 'collapse in');
        $('#menu_rh_index').attr('class', 'active');

        $('#calendar2').fullCalendar({
            right: 'month,agendaWeek,agendaDay',
            lang: 'pt',
            defaultView: 'month',
            editable: false,
           }
        );

	});

    function update_tabela_calendar() {
        var mes = $("#cbMes").val();
        
        var startDate = moment([2015, mes - 1, 1]);
        var endDate = moment(startDate).endOf('month');

        var linha = "<td>Empresa</td> <td>Funcionario</td> <td>Departamento</td>";

        for (var i = 1; i <= endDate.date() ; i++) {
            linha += "<td style='width:20px;'>" + i + "</td>";

        }
        $("#table_calendar").empty();

        $("#table_calendar").append(
            "<tr >" + linha +
            "</tr>"
        );

      

        $.get(location.origin + '/Funcionario/listaFuncionarios/', { empresa:"Acc",departamento:"" }, function (result) {

            $.each(result, function () {
                var ferias = [];

                var departamento = '@ViewBag.departamento';
                var link = "";
                if (departamento == this.departamento.descricao) {
                    link = "<a href='" + location.origin + '/RH/Edit/'+this.id + "'>" + this.nome + "</a>";

                } else {
                    link = this.nome;

                }




                linha = "<td>" + this.empresaId + "</td>" +
                        "<td>" + link + "</td>" +
                        "<td>" + this.departamento.descricao + "</td>";

                for (var i = 1; i <= endDate.date() ; i++) {
                    linha += "<td id='"+this.id +"_"+i +"' style='width:20px;'> </td>";

                }

                $("#table_calendar").append(
                        "<tr id = '" + this.id + "'>" + linha +
                        "</tr>"
                );

                $.get(location.origin + '/RH/DataMarcacaoFerias', { funcionarioId: this.id, ano: 2015, mes: mes }, function (fer) {
                    ferias = fer;
                    linha = "";

                    var estilo = "";
                    
                    for (var j = 0; j < ferias.length; j++) {
                        var f = ferias[j];
                        var color = "";

                        switch (f.estado) {
                            case "Por Aprovar": color = "#f0ad4e";break;
                            case "Aprovado":
                                if (f.tipo = "Dia de Férias") {
                                    color = '#257e4a';

                                } else {
                                    color = "#5bc0de";

                                }; break;
                            //case "Recusado": color = "#d9534f"; break;

                        }
                        
                        $("#" + ferias[j].funcionarioId + "_" + moment(f.dataFeria).date()).css("background-color", color);
                    }


                });

                

                
            });
        });





    }

</script>
}


<h4 class="page-header">Detalhes de Ferias : @ViewData["modulo_value"]</h4>

<div class="row placeholders">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        
        <li role="presentation" class="active">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                <span class="fa fa-calendar-o"></span>
                Mensal 
            </a>
        </li>
        <li role="presentation" >
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                <span class="fa fa-calendar"></span>
                Calendario
            </a>
        </li>
                
        <li role="presentation">
                    
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                <span class="fa fa-tasks"></span>
            Propriedades</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="profile">

            <div class="col-md-10 placeholder">

                <div class="row">
                    <div class="table-responsive">
                        <select id="cbMes" class="form-control" onchange="update_tabela_calendar()">
                            <option value="1">Janeiro</option>
                            <option value="2">Fevreiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="container">
                        <div id="table_calendar" class="table table-bordered"></div>
                    </div>

                </div>


            </div>


        </div>

        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row placeholders">
                <div class="col-md-9 placeholder">

                    <div id="calendar"></div>
                </div>

            </div>
        </div>

        
                
                
        <div role="tabpanel" class="tab-pane" id="settings"></div>
    </div>

</div>
  

