@{
    ViewData["Title"] = "Home Page";
}

<h4 class="page-header">Pagina Inicial</h4>

@section scripts {

    <script>

        $(function () { // document ready

            $('#menu_home').attr('class', 'active');


	    });

    </script>
}

<div class="row-fluid placeholders">

    <div class="placeholder" style="text-align:justify">
        <h1>Gestão de Ferias</h1>
        
        <p>
            Aplicação adicional para marcação e aprovação de ferias.
        </p>
        <p>  
            Esta aplicação permite marcar as ferias e aprovado e enviado todos as operações por email.
        </p>
        <p>
            Somente as ferias aprovadas no sistema são sincronizadas e marcadas no sistema primavera.
        </p>
    </div>
    
</div>