@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<MIT.Repository.ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}


<div class="container-fluid">
    
        <div class="animated fadeIn ng-scope">
            <div lrform="" class="card lrForm">
                <div class="row center-block">
                    <div class="card-block">

                        <div class="text-center">
                            <i class="icon-login"></i>
                            <p>
                                Sign In to your account
                            </p>
                        </div>

                        <section>
                            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

                                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                    <input asp-for="Email" class="form-control" placeholder="Username" type="text">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <input asp-for="Password" class="form-control" placeholder="Password" type="password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <br>
                                <button type="submit" class="btn btn-block btn-success">Sign In</button>

                            </form>
                        </section>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xs-6 text-center"><a asp-action="Register" class="btn btn-link">Sign Up</a></div>
                            <div class="col-xs-6 text-center"><a asp-action="ForgotPassword" class="btn btn-link">Forgot Password?</a></div>
                        </div>
                    </div>
                </div>


            </div>
        
        
        </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
