<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net451" />
  <package id="Crystal.Reports.Essentials" version="13.0.15.1840" targetFramework="net451" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net451" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net451" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net451" />
  <package id="SimpleReports" version="1.0.0.2" targetFramework="net451" requireReinstallation="true" />
</packages>