@{
    ViewBag.Title = "Pagina de Cobrancas";
    var conexao = "";
}

<environment names="Development">
    @{conexao = "http://localhost:8989/signalr";}
</environment>
<environment names="Staging,Production">
    @{conexao = "http://ferias.mit.co.mz:8989/signalr";}
</environment>


@section scripts {
    
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $.connection.hub.url = "@conexao";

            var cobrancasHub = $.connection.cobrancasHub;

        $(function () {

            cobrancasHub.client.daExtratoPDFCliente = function(val){
                console.log("Connection started! Extrato Cliente");
                console.log(val.caminho);

                enviaEmail(val.empresa,val.entidade,val.to,val.cc,val.caminho);
            }

            cobrancasHub.client.daListaEmpresas = function (val) {
                console.log("Connection started! client");
                console.log(val);
                $("#listaEmpresas").empty();

                val.forEach(preencherEmpresas);

                function preencherEmpresas(value, index, ar) {

                    $("#listaEmpresas").append(
                        $('<li>').append(
                            $('<a>').attr('onclick',"daClientes('"+ value.codigo +"')").append(value.codigo)

                        )
                    );
                }
            };

            cobrancasHub.client.daDadosEmpresa = function (val) {
                console.log("Connection started! - da dados da empresa "+ val.codigo);

                $("#listaClientes").show();

                $("#codigoEmpresa").empty();
                $("#nomeEmpresa").empty();
                $("#nuitEmpresa").empty();

                $("#codigoEmpresa").text(val.codigo);
                $("#nomeEmpresa").text(val.nome);
                $("#nuitEmpresa").text(val.nuit);
            };

            cobrancasHub.client.daListaClientes = function(val){
                console.log("Connection started! client - Lista Clientes");
                console.log(val);
                $("#tableListaClientes").empty();

                $("#tableListaClientes").append("<tr> <th> Sel. </th> <th> Entidade  </th> <th> Nome </th> <th> ValorPendente </th>  <th> Contactos </th> <th></th> </tr>");

                val.forEach(preencheClientes);

                function preencheClientes(value, index, ar){

                    var contacto="";

                    value.contactos.forEach(daContactos)

                    $("#tableListaClientes").append("<tr> <td>" +
                        "<input name='enviaCobranca' checked='" + value.enviaCobranca + "' type='checkbox' value='"+value.entidade+"' />" +
                        "</td> <td> <a href='#' onclick= daExtratoPdfCliente('" + $("#codigoEmpresa").text() +"','"+ value.entidade +"')>" +value.entidade+ "</a></td> <td>"+ value.nome +"</td> <td>"+ value.valorPendente.toFixed(2)+" </td>  <td>   " + contacto+" </td>" +

                        "<td id = 'enviaEmail_"+ value.entidade + "'><td> </tr>");

                    function daContactos(value, index, ar){
                        if (value != null) {
                            contacto = contacto + value.Email + " <input type='checkbox' checked ='0' value='" + value.Email + "'/>   ; ";
                        }

                    }

                     console.log();
                }


            }

            $.connection.hub.start().done(function () {
                cobrancasHub.server.daListaEmpresas(0, "gmahota", "Accsys2011!", "MERIDIAN M32");
                console.log("connection started! server");


            });
        });

        function enviaEmail(empresa,cliente,email_to,email_cc,ficheiro) {
            $.ajax({
                type: "Post",
                url: "/Cobrancas/EnviaEmail",
                data: { empresa:empresa, client: cliente,to:email_to,cc:email_cc, ficheiro: ficheiro  },
                datatypr: "html",
                success: function (data) {
                    $("#enviaEmail_" + cliente).append("<p>" +data.Message+"</p>");

                }

            });

        }

        function botaoEnviaEmails() {

            var row = document.getElementById("tableListaClientes").rows.length;

            $('#tableListaClientes tr').each(function (i, row) {

                var row = $(this);
                if (row.find('input[type="checkbox"]').is(':checked') ) {

                    row.find('input[type="checkbox"]').each(function (i, val) {
                        $checkbox = val;
                        console.log($checkbox.value);

                        daExtratoPdfCliente($("#codigoEmpresa").text(), $checkbox.value);
                    });
                }



            });


        }

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        function daClientes(empresa){
                console.log("da clientes da empresa " + empresa);
                cobrancasHub.server.daDadosEmpresa(0,empresa,"gmahota","Accsys2011!");
                cobrancasHub.server.daListaClientes(0,empresa,"gmahota","Accsys2011!");
         }

        function daExtratoPdfCliente(empresa,cliente){
            console.log("da extrato do cliente " + cliente + " da empresa " + empresa);
            cobrancasHub.server.daExtratoPDFCliente(0,empresa,"gmahota","Accsys2011!",cliente);
        }

    </script>
}

<ol id="listaEmpresas" class="breadcrumb" ></ol>

<!-- Page Heading -->
<div id="listaClientes" class="row" style="display:none">
    <div class="panel panel-info ">
        <div id="codigoEmpresa" class="panel-heading">Empresa Acc</div>

        <div class="panel-body">
            <p>
                <b>Nome: </b>
                <text id="nomeEmpresa"> </text>
            </p>
            <p>
                <b>NUIT: </b>
                <text id="nuitEmpresa"> </text>
            </p>

            <p><a href="#" class="btn btn-primary" role="button" onclick="botaoEnviaEmails()">Enviar Email</a> </p>
        </div>

    </div>

    <div class="col-md-5">
        <table id="tableListaClientes" class="table table-striped">
            <tr></tr>

        </table>
    </div>


</div>
