@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}


<div class="container-fluid">
    
    <div class="animated fadeIn ng-scope">
        <div lrform="" class="card lrForm">
            <div class="row center-block">
                <div class="card-block">

                    <div class="text-center">
                        <i class="icon-login"></i>
                        <p>
                            @ViewData["Title"].
                        </p>
                    </div>

                    <section>
                        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
                            
                            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                            
                            <div class="input-group">
                                
                                <span class="input-group-addon"><i class="icon-lock-open"></i></span>

                                <input asp-for="OldPassword" class="form-control" placeholder="Old Password" type="text" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                                
                            </div>
                            <br>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>

                                <input asp-for="NewPassword" class="form-control" placeholder="New Password"/>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                
                            </div>
                            <br>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                
                            </div>
                            <br>

                            
                            <button type="submit" class="btn btn-block btn-success">Change password</button>
                                

                        </form>

                    </section>


                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
