@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}


<!--Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col-md-7">
            <h1 class="h2"><span class="ng-binding ng-isolate-scope" ncy-breadcrumb-last="">@ViewData["Title"]</span></h1>
            <div class="text-muted ng-binding"> Change your account settings - @ViewData["StatusMessage"] </div>
        </div>
        @*
    <div class="col-md-5 charts">
        <div class="row ng-scope" ng-controller="chartsCtrl">
            <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="chart-wrapper">
                        <div class="chart-container"><canvas style="width: 140px; height: 31px;" width="140" class="chart chart-bar ng-isolate-scope" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options" chart-colours="colours" height="31"></canvas></div>
                    </div>
                    <div class="text-xs-center title"><span class="text-muted">Income: </span><strong>$189.128</strong></div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="chart-wrapper">
                        <div class="chart-container"><canvas style="width: 123px; height: 27px;" width="123" class="chart chart-bar ng-isolate-scope" chart-data="data1" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colours="colours" height="27"></canvas></div>
                    </div>
                    <div class="text-xs-center title"><span class="text-muted">New clients: </span><strong class="text-danger">1.128</strong></div>
                </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="chart-wrapper">
                    <div class="chart-container"><canvas style="width: 123px; height: 27px;" width="123" class="chart chart-bar ng-isolate-scope" chart-data="data2" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colours="colours" height="27"></canvas></div>
                </div>
                <div class="text-xs-center title"><span class="text-muted">Funcionarios: </span><strong class="text-success">@ViewBag.totalFuncionarios</strong></div>
            </div>
        </div>

    </div>
        *@
    </div>
</div>

<!--Page Breadcrumb -->
<ol class="breadcrumb" breadcrumb="">
    <li><span>Root</span></li>
    <li><span>Account</span></li>
    <li class="active"><span>Manage</span></li>
    
</ol>

<div class="container-fluid">
    <div class="animated fadeIn ng-scope">
            <div class="card card-full ng-scope" ng-controller="trafficDemoCtrl">
                <div class="card-block">
                    <div class="row">

                        <dl class="dl-horizontal">
                            <dt>Password:</dt>
                            <dd>
                                [
                                @if (Model.HasPassword)
                                {
                                    <a asp-controller="Manage" asp-action="ChangePassword">Change</a>
                                }
                                else
                                {
                                    <a asp-controller="Manage" asp-action="SetPassword">Create</a>
                                }
                                ]
                            </dd>
                        </dl>

                        <div class="dl-horizontal">
                            <dl class="dl-horizontal">
                                <dt>Avatar:</dt>
                                
                                <dd>
                                    <form asp-controller="Manage" asp-action="SetAvatar" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                                        <input type="file" name="files" accept="image/*" multiple />

                                        <input type="submit"  value="Ok" />
                                    
                                    </form>
                                </dd>
                            </dl>
                            
                            
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

