<div class="breadcrumb-menu">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
        <a href="#/dashboard" class="btn btn-secondary" ui-sref="app.main"><i class="icon-graph"></i> &nbsp;Dashboard</a>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-settings"></i> &nbsp;Settings
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                <div class="dropdown-header text-xs-center"><strong class="ng-binding">Account</strong></div>
                <a class="dropdown-item ng-binding" href="#"><i class="fa fa-tasks"></i> Tasks<span class="label label-danger">13</span></a>
                <a class="dropdown-item ng-binding" href="#"><i class="fa fa-comments"></i> Comments<span class="label label-warning">234</span></a>
                <div class="dropdown-header text-xs-center"><strong class="ng-binding">Settings</strong></div>
                <a class="dropdown-item ng-binding" href="#"><i class="fa fa-wrench"></i> Settings</a>
                <a class="dropdown-item ng-binding" href="#"><i class="fa fa-usd"></i> Payments<span class="label label-default">75</span></a>
                <a class="dropdown-item ng-binding" href="#"><i class="fa fa-file"></i> Projects<span class="label label-primary">2</span></a>
            </div>
        </div>
    </div>
</div>