<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MIT.CRM</title>

        <environment names="Development">
            
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.css" />
            <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="~/lib/bootstrap-year-calendar/css/bootstrap-year-calendar.css" />
            
            <link rel="stylesheet" href="~/css/dashboard.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.css" />
            <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="~/lib/bootstrap-year-calendar/css/bootstrap-year-calendar.css" />

            <link rel="stylesheet" href="~/css/dashboard.css" />
        </environment>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">MIT.CRM</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index"> <i class="fa fa-home"></i> Home</a></li>
                       
                        <li>
                            
                            <a asp-controller="Home" asp-action="About"> 
                                <i class="fa fa-question"></i>
                                Sobre Aplicação
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Contact">
                                <i class="fa fa-info"></i>
                                Contacto
                            </a>
                        </li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
        

        <div id="wrapper">


        
            <nav class="navbar-default navbar-static-side " role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <li id="menu_dashboard">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="fa fa-fw fa-home"></i> Pagina Inicial
                                </a>
                            </li>


                            @if (User.IsInRole("Administrator") || User.IsInRole("Funcionario") || User.IsInRole("Director de Area") || User.IsInRole("Cobranças"))
                            {
                                <li id="menu_home">
                                    <a asp-controller="Home" asp-action="Dashboard">
                                        <i class="fa fa-fw fa-dashboard"></i> Dashboard
                                    </a>
                                </li>
                            }




                            @if (User.IsInRole("Administrator") || User.IsInRole("Funcionario") || User.IsInRole("Director de Area"))
                            {

                                <li>
                                    <a id="menu_rh" data-toggle="collapse" href="#" data-target="#menu_rh_ul" aria-expanded="true">

                                        <i class="fa fa-users"></i>
                                        RH
                                        <i class="fa fa-fw fa-caret-down"></i>
                                    </a>

                                    <ul id="menu_rh_ul" class="collapse" aria-expanded="true">
                                        <li id="menu_rh_index">
                                            <a asp-controller="RH" asp-action="Index">
                                                <i class="fa fa-calendar"></i>
                                                Mapa Ferias
                                            </a>
                                        </li>
                                        <li id="menu_rh_details">
                                            <a asp-controller="RH" asp-action="Details">
                                                <i class="fa fa-calendar-plus-o"></i>
                                                Marcação Ferias
                                            </a>
                                        </li>
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Director de Area"))
                                        {
                                            <li id="menu_rh_aprovacao">
                                                <a asp-controller="RH" asp-action="Aprovacao">
                                                    <i class="fa fa-calendar-check-o"></i>
                                                    Aprovação Ferias
                                                </a>
                                            </li>
                                        }
                                    </ul>


                                </li>
                            }

                            @if (User.IsInRole("Administrator"))
                            {
                                <li>
                                    <a data-toggle="collapse" href="#" data-target="#menu_gestao_ul" aria-expanded="true">
                                        <i class="fa fa-bars"></i>
                                        Gestão
                                        <i class="fa fa-fw fa-caret-down"></i>
                                    </a>

                                    <ul id="menu_gestao_ul" class="collapse" role="menu">
                                        <li><a id="menu_gestao_index" asp-controller="Gestao" asp-action="Index">Geral</a></li>
                                        <li><a id="menu_departamento_index" asp-controller="Departamento" asp-action="Index">Departamentos</a></li>
                                    </ul>


                                </li>
                            }

                            @if (User.IsInRole("Cobranças") || User.IsInRole("Administrator"))
                            {
                                <li><a id="menu_cobrancas_index" asp-controller="Cobrancas" asp-action="Index"> <i class="fa fa-money"></i> Cobranças</a></li>
                            }


                        </ul>

                    </div>
                </nav>


            <div class="main">
                @RenderBody()

                <hr />
                <div class="row placeholders">
                    <footer>
                        <p>&copy; 2015 - MIT</p>
                    </footer>
                </div>
                        
            </div>
           
        </div>
      

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/lib/moment/moment.js"></script>
            <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
            <script src='~/lib/fullcalendar/dist/lang-all.js'></script>
            <script src="~/lib/bootstrap-year-calendar/js/bootstrap-year-calendar.js"></script>
            
            <script src="~/lib/signalr/jquery.signalR.min.js"></script>

            <!--Reference the autogenerated SignalR hub script. -->
            <script src="http://localhost:8989/signalr/hubs"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>

            <script src="~/lib/moment/moment.js"></script>
            <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
            <script src='~/lib/fullcalendar/dist/lang-all.js'></script>
            <script src="~/lib/bootstrap-year-calendar/js/bootstrap-year-calendar.min.js"></script>
            <script src="~/lib/signalr/jquery.signalR.min.js"></script>

            <!--Reference the autogenerated SignalR hub script. -->
            <script src="http://ferias.mit.co.mz:8989/signalr/hubs"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
