<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MIT.CRM</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

            
            <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.css" />
            <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="~/lib/bootstrap-year-calendar/css/bootstrap-year-calendar.css" />

            
            <link href="~/lib/genesisui/static_dev_grunt/css/style.css" rel="stylesheet" />
            
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


            <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.css" />
            <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="~/lib/bootstrap-year-calendar/css/bootstrap-year-calendar.css" />


            <link href="~/lib/genesisui/static_dev_grunt/css/style.css" rel="stylesheet" />
        
        
        </environment>
    </head>
<body class="navbar-fixed sidebar-nav fixed-nav ">

    <header class="navbar ng-scope navbar-light brand-dark">
        <button class="navbar-toggler hidden-lg-up" type="button">☰</button>
        <a href="#/dashboard" class="navbar-brand"></a>
        <button class="navbar-toggler layout-toggler hidden-md-down" type="button"  data-before="sidebar-nav" data-after="sidebar-nav compact-nav">☰</button>

        <ul class="nav navbar-nav pull-right hidden-md-down">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="img/flags/United-Kingdom.png" class="img-flag" alt="English">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-xs-center">
                        <strong>Choose language</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                        <img src="img/flags/Poland.png" class="img-flag" alt="Polish"> Polish
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="img/flags/United-Kingdom.png" class="img-flag" alt="English"> English
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="img/flags/Spain.png" class="img-flag" alt="Espa&#xF1;ol"> Español
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-bell"></i><span class="label label-pill label-danger">5</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-list"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="hidden-md-down">admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-xs-center">
                        <strong>Account</strong>
                    </div>
                    <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="label label-info">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="label label-success">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="label label-danger">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="label label-warning">42</span></a>
                    <div class="dropdown-header text-xs-center">
                        <strong>Settings</strong>
                    </div>
                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="label label-default">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="label label-primary">42</span></a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>


    </header>

    

    <nav id="navigation" class="collapse navbar-toggleable-sm nav-dark">
        @await Html.PartialAsync("_LoginPartial")


        <div id="navigation-items">
            <ul class="nav">
                <li class="nav-title">
                    Dashboard
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Dashboard">
                        <i class="icon-speedometer"></i> DASHBOARD <span class="label label-info">NEW</span>
                    </a>


                </li>
                
                <li class="divider"></li>
                
                
                @if (User.IsInRole("Administrator") || User.IsInRole("Funcionario") || User.IsInRole("Director de Area"))
                {
                    <li class="nav-title">
                        Recursos Humanos
                    </li>

                    <li class="nav-item nav-dropdown ">
                        <a class="nav-link nav-dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <i class="icon-layers"></i> Gestão Ferias
                        </a>

                        <ul id="menu_rh_ul" class="nav-dropdown-items" role="menu">
                            <li id="menu_rh_index" class="nav-item" href="#" data-target="#menu_rh_ul" aria-expanded="true">
                                <a asp-controller="RH" asp-action="Details" class="nav-link ng-binding">
                                    <i class="fa fa-calendar-plus-o"></i>
                                    Marcação Ferias
                                </a>
                            </li>

                            <li id="menu_rh_index" class="nav-item">
                                <a asp-controller="RH" asp-action="Index" class="nav-link ng-binding">
                                    <i class="fa fa-calendar"></i>
                                    Mapa Ferias
                                </a>
                            </li>

                            @if (User.IsInRole("Administrator") || User.IsInRole("Director de Area"))
                            {
                                <li id="menu_rh_aprovacao" class="nav-item">
                                    <a asp-controller="RH" asp-action="Aprovacao" class="nav-link ng-binding">
                                        <i class="fa fa-calendar-check-o"></i>
                                        Aprovação Ferias
                                    </a>
                                </li>
                            }

                        </ul>

                    </li>

                    


                }

                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-title">
                        Administração
                    </li>
                    <li role="presentation" class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-bars"></i>
                            Gestão

                        </a>

                        <ul id="menu_gestao_ul" class="nav-dropdown-items" role="menu">
                            <li class="nav-item">
                                <a id="menu_gestao_index" asp-controller="Gestao" asp-action="Index" class="nav-link ng-binding">
                                    Geral
                                </a>
                            </li>

                            <li class="nav-item">
                                <a id="menu_departamento_index" asp-controller="Departamento" asp-action="Index" class="nav-link ng-binding">
                                    Departamentos
                                </a>
                            </li>
                        </ul>


                    </li>
                }


                @if (User.IsInRole("Cobranças") || User.IsInRole("Administrator"))
                {
                    <li class="nav-title">
                        Finanças
                    </li>
                    <li class="nav-item">
                        <a id="menu_cobrancas_index" asp-controller="Cobrancas" asp-action="Index" class="nav-link ng-binding">
                            <i class="fa fa-money"></i> Cobranças
                        </a>
                    </li>
                }
            </ul>

        </div>
        <div id="navigation-footer">
            <ul class="menu">
                <li>
                    <div class="btn-group dropup">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-speedometer"></i>
                            <span>Usage</span>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-header">Usage <a href="#" class="btn pull-right"><i class="icon-settings"></i></a></div>
                            <div class="dropdown-item">
                                <div class="title">
                                    Memory
                                    <span>2GB of 8GB</span>
                                </div>
                                <progress class="progress progress-xs progress-success m-b-0" value="25" max="100">25%</progress>
                            </div>
                            <div class="dropdown-item">
                                <div class="title">
                                    HDD
                                    <span>750GB of 1TB</span>
                                </div>
                                <progress class="progress progress-xs progress-warning m-b-0" value="75" max="100">75%</progress>
                            </div>
                            <div class="dropdown-item">
                                <div class="title">
                                    SSD
                                    <span>300GB of 1TB</span>
                                </div>
                                <progress class="progress progress-xs progress-info m-b-0" value="30" max="100">30%</progress>
                            </div>
                            <div class="dropdown-item">
                                <div class="title">
                                    Bandwidth
                                    <span>50TB of 50TB</span>
                                </div>
                                <progress class="progress progress-xs progress-danger m-b-0" value="100" max="100">100%</progress>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="btn-group dropup">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-list"></i>
                            <span>Menu</span>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-header text-xs-center">
                                <strong>Account</strong>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="label label-info">42</span></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="label label-success">42</span></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="label label-danger">42</span></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="label label-warning">42</span></a>
                            <div class="dropdown-header text-xs-center">
                                <strong>Settings</strong>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="label label-default">42</span></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="label label-primary">42</span></a>
                            <div class="divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
                        </div>
                    </div>
                </li>
                <li class="action">
                    <div class="btn-group dropup">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-people"></i>
                            <span>Contacts</span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-header">Contacts <a href="#" class="btn pull-right"><i class="icon-settings"></i></a></div>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-success"></span>
                                </div>
                                Anton Phunihel
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-success"></span>
                                </div>
                                Alphonse Ivo
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-success"></span>
                                </div>
                                Thancmar Theoph
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-warning"></span>
                                </div>
                                Walerian Khwaja
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-warning"></span>
                                </div>
                                Clemens Janko
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-warning"></span>
                                </div>
                                Chidubem Gottlob
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-danger"></span>
                                </div>
                                Hristofor Sergio
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-danger"></span>
                                </div>
                                Tadhg Griogair
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-danger"></span>
                                </div>
                                Pollux Beaumont
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-danger"></span>
                                </div>
                                Adam Alister
                            </a>
                            <a class="dropdown-item p-l-0" href="#">
                                <div class="avatar avatar-sm">
                                    <img src="img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status label-danger"></span>
                                </div>
                                Carlito Roffe
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="terms">
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </nav>


    
    <main id="content">
        @RenderBody()
    </main>

    <footer id="footer">
        <span class="text-left">
            <a href="http://bootstrapmaster.com">Root</a> &copy; 2016 creativeLabs.
        </span>
        <span class="pull-right">
            Powered by <a href="http://genesisui.com">GenesisUI</a>
        </span>
    </footer>

    <environment names="Development">

        <!-- Bootstrap and necessary plugins -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap-year-calendar/js/bootstrap-year-calendar.js"></script>
        <script src="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/pace/pace.min.js"></script>

        <!-- Plugins and scripts required by all views -->
        <script src="~/lib/Chart.js/Chart.min.js"></script>
        @*<script src="~/lib/genesisui/static_dev_grunt/js/views/shared.js"></script>*@
        <!-- GenesisUI main scripts -->
        @*<script src="~/lib/genesisui/static_dev_grunt/js/app.js"></script>*@
        
        <!-- Plugins and scripts required by this views -->
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/gauge.js/dist/gauge.min.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- Custom scripts required by this view -->
        @*<script src="~/lib/genesisui/static_dev_grunt/js/views/main.js"></script>*@

        
        <script src="~/js/site.js" asp-append-version="true"></script>
        
        

        
    </environment>

    <environment names="Staging,Production">

        <!-- Bootstrap and necessary plugins -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap-year-calendar/js/bootstrap-year-calendar.js"></script>
        <script src="~/lib/tether/dist/js/tether.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/pace/pace.min.js"></script>

        <!-- Plugins and scripts required by all views -->
        <script src="~/lib/Chart.js/Chart.min.js"></script>
        @*<script src="~/lib/genesisui/static_dev_grunt/js/views/shared.js"></script>*@
        <!-- GenesisUI main scripts -->
        @*<script src="~/lib/genesisui/static_dev_grunt/js/app.js"></script>*@

        <!-- Plugins and scripts required by this views -->
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/gauge.js/dist/gauge.min.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- Custom scripts required by this view -->
        @*<script src="~/lib/genesisui/static_dev_grunt/js/views/main.js"></script>*@


        <script src="~/js/site.js" asp-append-version="true"></script>




        <!--Reference the autogenerated SignalR hub script. -->
        <script src="http://ferias.mit.co.mz:8989/signalr/hubs"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
