@{
    ViewData["Title"] = "Error";
}



<div class="alert alert-danger" role="alert">
    <b >Error Page</b>
    @*<p>An error occurred while processing your request.</p>*@
    <p>@ViewData["Message"]</p>
</div>